.App {
}

.characterContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

}

.characterCard {
  background-color: cadetblue;
  margin: 2px;
}

.characterName {
  color: blue;
}


